name: Django Test

on:
  pull_request:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5  # Updated version
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --user pipx
          python -m pipx ensurepath
          export PATH="$HOME/.local/bin:$PATH"
          pipx install poetry
          poetry install

      - name: Run tests with coverage
        run: |
          poetry run coverage run manage.py test

      - name: Display coverage report
        run: |
          poetry run coverage report

      - name: Generate coverage reports
        run: |
          poetry run coverage xml
          poetry run coverage html
      
